<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>IBOS-我的话题-mytopic</title>
	<!-- load css -->
	<link rel="stylesheet" href="../../../../static/css/base.css">
	<link rel="stylesheet" href="../../../../static/css/common.css">
	<!-- IE8 fixed -->
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="../../../../static/css/iefix.css">
	<![endif]-->
	<!-- private css -->
	<link rel="stylesheet" href="../static/css/wbpublic.css" />
	<link rel="stylesheet" href="../static/css/wbstyle.css" />
</head>
<body>
	<div class="head"></div>
	<div class="wrap">
		<div class="wb-topic clearfix">
			<div class="wbc-right pull-right  wbc-bb wbc-bs">
				<div class="wb-tpc-user">
					<div class="wbc-box wbc-rt">
						<div class="clearfix">
							<div class="pull-left wbb-pr10">
								<a href="personal.html" class="wb-pub-opic">
									<img src="../static/image/defaultAva.gif" alt=""></a>
							</div>
							<div class="pull-left wbb-pt10 wb-nf-info"> <strong>小胖</strong>
								<p>博思协创 打酱油份子</p>
							</div>
						</div>
						<div class="wb-topic-num">
							<p>
								主持话题
								<a href="#">2</a>
								个，参与话题
								<a href="#">5</a>
								个
							</p>
						</div>
					</div>

				</div>
				<div class="wb-tpc-etr">
					<div class="input-group">
						<span class="input-group-addon">#</span>
						<input type="text" class="form-control" placeholder="输入话题申请主持人">
						<span class="input-group-addon">#</span>
					</div>
					<button type="button" class="btn btn-warning btn-lg btn-block wbb-mt10">申请</button>
				</div>
			</div>

			<div class="wbc-left pull-left wbc-bs">
				<div class="wb-tpc-join">
					<div class="tit wbc-rt">我参与的话题</div>
					<div class="wb-tpcj-view wbc-rb ">
						<ul>
							<li class="clearfix">
								<div class="pic pull-left">
									<a href="topic.html">
										<img src="../static/image/tpcPic.gif" alt="" />
									</a>
								</div>
								<div class="txt pull-right">
									<a href="topic.html" class="edit"><i class="wbi-edmy"></i></a> 
									<strong><a href="#" class="xcbu">#IBOS2即将推出#</a> <i class="wbi-mike"></i></strong> 
									<p>
										<a href="topic.html">
											据了解，即将推出的IBOS2.0重新构架系统核心，增加了IOS、Android手机APP应用，新版本界面风格也全部重新设计，通过一系列从内而外的改造，IBOS2.0除了满足传统企业的协同管理需求外，还特别迎合充满活力的学习型、创新型企业及80、90后白领的喜好。
										</a>
									</p>
								</div>
							</li>
						</ul>

						<div class="fill-hn xac">
							<a href="#" class="link-more">
								<i class="cbtn o-more"></i>
								<span class="ilsep">查看更多</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="foot"></div>
</body>
</html>