<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>IBOS-话题-topic</title>
	<!-- load css -->
	<link rel="stylesheet" href="../../../../static/css/base.css">
	<link rel="stylesheet" href="../../../../static/css/common.css">
	<!-- IE8 fixed -->
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="../../../../static/css/iefix.css">
	<![endif]-->
	<!-- private css -->
	<link rel="stylesheet" href="../static/css/wbpublic.css" />
	<link rel="stylesheet" href="../static/css/wbstyle.css" />
</head>
<body>
	<div class="head"></div>

	<div class="wrap">

		<div class="wb-topic clearfix">
			<div class="wbc-right pull-right">
			
			<div class="wbc-bs">
				<div class="wbc-box wbc-rt wbc-bb">话题主持人</div>
				<div class="wb-exp wbc-rb">
					<button type="button" class="btn btn-primary btn-lg btn-block"><i class="wbi-wmike"></i> 申请主持人</button>
				</div>
			</div>

				<div class="wbc-bs">
					<div class="wbc-box wbc-rt wbc-bb wbb-mt20">话题参与者</strong>
					</div>
					<div class="wb-tpc-joinbd">
						<table class="table table-striped table-hover table-condensed ">
								<tr>
									
									<td>
										<a href="#" class="wb-pub-opic pull-right">
											<img src="../static/image/defaultAva.gif" alt="">
											<span class="top-flag">1</span>
										</a>
										
									</td>
									<td><strong>路人王</strong><p>协同项目组</p></td>
									<td class="xco">423</td>
							  </tr>
							  <tr>
									
									<td>
									<b class="xcr">2</b>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva5.jpg" alt="">
										</span>
										
									</td>
									<td><span>the Bird</span></td>
									<td>23</td>
							  </tr>
							  <tr>
									
							
									<td>
										<b class="xco">3</b>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva3.jpg" alt="">
										</span>
										
									</td>
									<td><span>the Bird</span></td>
									<td>22</td>
							  </tr>
							  <tr>
									
								
									<td>
									<b>4</b>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva2.jpg" alt="">
										</span>
									
									</td>
									<td><span>the Bird</span></td>
									<td>17</td>
							  </tr>
							  <tr>
									
								
									<td>
										<b>5</b>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva1.jpg" alt="">
										</span>
									
									</td>
									<td><span>the Bird</span></td>
									<td>14</td>
							  </tr>
							  <tr>
									
								
									<td>
										<b>6</b>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva2.jpg" alt="">
										</span>
									
									</td>
									<td><span>the Bird</span></td>
									<td>12</td>
							  </tr>
							  <tr>
									
									
									<td>
										<b>7</b>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva3.jpg" alt="">
										</span>
									
									</td>
									<td><span>the Bird</span></td>
									<td>10</td>
							  </tr>
							  <tr>
									
									
									<td>
										<b>8</b>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva4.jpg" alt="">
										</span>
										
									</td>
									<td><span>the Bird</span></td>
									<td>7</td>
							  </tr>
							  <tr>
									
									
									<td>
										<b>9</b>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva5.jpg" alt="">
										</span>
										
									</td>
									<td><span>the Bird</span></td>
									<td>5</td>
							  </tr>
							  <tr>
									<td>
										<b>10</b>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva6.jpg" alt="">
										</span>
									</td>
									<td><span>the Bird</span></td>
									<td>1</td>
							  </tr>
						</table>
					</div>
				</div>
			</div>

			<div class="wbc-left pull-left">
			
			<div class="wbc-bs">
				<div class="wbc-box wbc-rt wbc-bb">
					<div class="wb-tpc-t clearfix">
						<span class="pull-right"><i class="wbi-tpc-mes"></i> 参与指数:<b class="xco">999</b></span>
						<strong>#三星手机字库门# </strong>
					</div>
					<div class="wb-tpc-view clearfix">
						<div class="pic pull-left"><a href="#"><img src="../static/image/banner/banner.jpg" alt="" /></a></div>
						<div class="txt pull-right"><p>#三星字库门#【三星售后因地而异 中国消费者遭痛宰】三星Note和S系列手机存在设计缺陷，机主维修费高昂维权困难。央视调查：三星“猝死”问题早已蔓延全球，但售后却因地而异。英国：保修期内免费维修或换新机；香港：维修费全免。而中国内地，同样问题得花上千元。</p></div>
					</div>
				
				</div>
				
				<div class="wb-bg-fd wbc-rb">
	
				<!--微博盒子 S-->
				<div class="wb-publish">
					<div class="wb-pub-input" id="wb-pub">
						<!--tab切换-->
						<div class="wb-pub-tit">
							&nbsp;
						</div>

						<!--tab切换内容盒子-->
						<div class="wb-pub-tab">
							<div class="wb-pub-box">
								<div class="wb-pub-finish"></div>
								<textarea name="" id="wb-pub-text"  rows="4"></textarea>
							</div>

							<div class="wb-hide-box">111</div>

							<div class="wb-hide-box">222</div>
						</div>
					</div>

					<!--发布按钮和功能按钮-->
					<div class="wb-pub-other clearfix">

						<button   class="btn btn-default btn-lg wb-rel-btn">发布</button>
						<a class="pull-right">
							全公司可见
							<i class="wbi-arr-b"></i>
						</a>
						<ul class="list-inline wb-pub-menu">
							<li>
								<a href="#" class="wbi-pub-phiz"></a>
							</li>
							<li>
								<a href="javascript:;" class="wbi-pub-pic"></a>
							</li>
							<li>
								<a href="#" class="wbi-pub-topic"></a>
							</li>
							<li>
								<a href="#" class="wbi-pub-medal"></a>
							</li>
						</ul>
					</div>

					<!--上传图片-->
					<div class="wb-upload-img">
						<i class="glyphicon-picture" style="font-size:60px;"></i>
					</div>

				</div>
				<!--微博盒子 E-->
				
				</div>

			</div>

					<div class=" wbindex">

						<!--微博盒子 S-->
						<div class="wb-ifview-box">
							<div class="wb-ifview-top wbc-rt wbc-bb">

								<!--用户头像-->
								<div class="wb-ifview-user">

									<div class="wb-ifview-pic">
										<a href="#" class="wb-pub-opic" >
											<img src="../static/image/defaultAva.gif" alt=""></a>

									</div>
									<b class="xcbu">por</b>

								</div>

								
								<!--图文-->
								<div class="wb-info-picword clearfix">
									<p>
										在中秋佳节来临之际，优网借助广州酒家品牌，融入感恩情怀，用温暖做馅，快乐做皮，健康包装，给员工送上美味月饼。
										<a href="#" class="wb-source">http://t.cn/z8XwX6Z</a>
									</p>
								</div>

								<!--来源信息-->
								<div class="wb-info-ads clearfix">

									<div class="wb-info-from pull-left">
										<span>10月17日06:12</span>
										<span>&nbsp;来自&nbsp;</span>
										<span>iPhone客户端</span>
										<i class="wbi-lock"></i>
									</div>

									<div class="wb-handle pull-right">
										<a href="#">
											<i class="wbi-good"></i>
											赞(1)
										</a>
										<a href="#">
											<i class="glyphicon-share-alt"></i>
											转发(9)
										</a>
										<a href="#">
											<i class="glyphicon-comment"></i>
											评论(9)
										</a>
									</div>

								</div>

							</div>
							<div class="wb-ifview-bom wbc-rb">
								<div class="wb-isay">我也说一句...</div>
							</div>
						</div>
						<!--微博盒子 E-->

						<!--微博盒子 S-->
						<div class="wb-ifview-box">
							<div class="wb-ifview-top wbc-rt wbc-bb">

								

								<!--用户头像-->
								<div class="wb-ifview-user">

									<div class="wb-ifview-pic">
										<a href="#" class="wb-pub-opic" >
											<img src="../static/image/defaultAva.gif" alt=""></a>

									</div>
									<b class="xcbu">por</b>

								</div>
								<!--图文-->
								<div class="wb-info-picword clearfix">
									<img src="../static/image/test/bigPic.jpg" alt="" width="620" />
									<p>
										在中秋佳节来临之际，优网借助广州酒家品牌，融入感恩情怀，用温暖做馅，快乐做皮，健康包装，给员工送上美味月饼。
										<a href="#" class="wb-source">http://t.cn/z8XwX6Z</a>
									</p>
								</div>

								<!--地图定位-->
								<div>
									<i class="glyphicon-map-marker"></i>
									<span>暨南大学科技产业大厦</span>
									<span>&nbsp;-&nbsp;</span>
									<a href="#" class="wb-source">查看地图</a>
								</div>

								<!--来源信息-->
								<div class="wb-info-ads clearfix">

									<div class="wb-info-from pull-left">
										<span>10月17日06:12</span>
										<span>&nbsp;来自&nbsp;</span>
										<span>iPhone客户端</span>
										<i class="wbi-lock"></i>
									</div>

									<div class="wb-handle pull-right">
										<a href="#">
											<i class="wbi-good on"></i>
											已赞(1)
										</a>
										<a href="#">
											<i class="glyphicon-share-alt"></i>
											转发(9)
										</a>
										<a href="#">
											<i class="glyphicon-comment"></i>
											评论(9)
										</a>
									</div>

								</div>
							</div>
							<div class="wb-ifview-bom wbc-rb">
								<div class="wb-isay">我也说一句...</div>
							</div>
						</div>
						<!--微博盒子 E-->

						<!--微博盒子 S-->
						<div class="wb-ifview-box">
							<div class="wb-ifview-top wbc-rt wbc-bb">
								
								<!--用户头像-->
								<div class="wb-ifview-user">

									<div class="wb-ifview-pic">
										<a href="#" class="wb-pub-opic" >
											<img src="../static/image/defaultAva.gif" alt="">
											<i class="wbi-plus"></i>
										</a>

									</div>
									<b class="xcbu">por</b>
								</div>

								
								<!--图文-->
								<div class="wb-info-picword clearfix">
									<p>
										在中秋佳节来临之际，优网借助广州酒家品牌，融入感恩情怀，用温暖做馅，快乐做皮，健康包装，给员工送上美味月饼。
										<a href="#" class="wb-source">http://t.cn/z8XwX6Z</a>
									</p>
								</div>

								<!--转发-->
								<div class="wb-rep">
									<!--@xxx-->
									<div class="wb-at-someone">
										<a href="#" class="wb-source">@aaaaaaaa</a>
									</div>

									<!--转载的内容 S-->
									<div class="wb-info-picword clearfix">
										<img src="../static/image/test/bigPic.jpg" alt="" />
										<p>
											在中秋佳节来临之际，优网借助广州酒家品牌，融入感恩情怀，用温暖做馅，快乐做皮，健康包装，给员工送上美味月饼。
											<a href="#" class="wb-source">http://t.cn/z8XwX6Z</a>
										</p>
									</div>
									<div class="wb-info-ads clearfix">
										<div class="wb-info-from pull-left">
											<span>10月17日06:12</span>
											<span>&nbsp;来自&nbsp;</span>
											<span>iPhone客户端</span>
											<i class="wbi-lock"></i>
										</div>
										<div class="wb-handle pull-right">
											<a href="#">
												<i class="wbi-good on"></i>
												已赞(1)
											</a>
											<a href="#">
												<i class="glyphicon-share-alt"></i>
												转发(9)
											</a>
											<a href="#">
												<i class="glyphicon-comment"></i>
												评论(9)
											</a>
										</div>
									</div>
									<!--转载的内容 E-->
								</div>

								<!--来源信息-->
								<div class="wb-info-ads clearfix">

									<div class="wb-info-from pull-left">
										<span>10月17日06:12</span>
										<span>&nbsp;来自&nbsp;</span>
										<span>iPhone客户端</span>
										<i class="wbi-lock"></i>
									</div>

									<div class="wb-handle pull-right">
										<a href="#">
											<i class="wbi-good on"></i>
											已赞(1)
										</a>
										<a href="#">
											<i class="glyphicon-share-alt"></i>
											转发(9)
										</a>
										<a href="#">
											<i class="glyphicon-comment"></i>
											评论(9)
										</a>
									</div>

								</div>
							</div>
							<div class="wb-ifview-bom wbc-rb">
								<div class="wb-isay">我也说一句...</div>
							</div>
						</div>
						<!--微博盒子 E-->

						<div class="wb-see-more">
							<span>
								<i class="glyphicon-chevron-down"></i>
								&nbsp;查看更多
							</span>
						</div>

					</div>

				

			</div>

		</div>

	</div>

	<div class="foot"></div>
	<script src='../../../../../static/js/lib/jquery.js'></script>
	<script src='../../../../../static/js/src/base.js'></script>
	<script src="../static/js/weibo.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){	
			$("#wb-pub-text").charCount();
			$(".wb-ifview-user").hover(function(){
				$(this).children(".wb-data-card").stop().fadeToggle();
			});
		});
	</script>
</body>
</html>