<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>IBOS-热门话题-tpcrank</title>
	<!-- load css -->
	<link rel="stylesheet" href="../../../../static/css/base.css">
	<link rel="stylesheet" href="../../../../static/css/common.css">
	<!-- IE8 fixed -->
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="../../../../static/css/iefix.css">
	<![endif]-->
	<!-- private css -->
	<link rel="stylesheet" href="../static/css/wbpublic.css" />
	<link rel="stylesheet" href="../static/css/wbstyle.css" />
	<script src="../../../../static/js/lib/jquery.js"></script>
</head>
<body>
	<div class="head"></div>
	<div class="wrap">
		<div class="wb-topic clearfix">
			<div class="wbc-right pull-right">
				<div class="wbc-bs">
					<div class="wb-tpc-user wbc-bb">
						<div class="wbc-box wbc-rt">
							<div class="clearfix">
								<div class="pull-left wbb-pr10">
									<a href="personal.html" class="wb-pub-opic">
										<img src="../static/image/defaultAva.gif" alt=""></a>
								</div>
								<div class="pull-left wbb-pt10 wb-nf-info"> <strong>小胖</strong>
									<p>博思协创 打酱油份子</p>
								</div>
							</div>
						</div>
						<div class="wb-mytopic">
							<p class="tits">
								我的话题
								<a href="#">(6)</a>
							</p>
							<ul class="wb-mytopic-list">
								<li>
									<a href="topic.html">
										<span>123</span>
										#IBOS#设计创新讨论 <i class="wbi-mike"></i>
									</a>
								</li>
								<li>
									<a href="topic.html">
										<span>123</span>
										#带着微博去旅行# <i class="wbi-mike"></i>
									</a>
								</li>
								<li>
									<a href="topic.html">
										<span>123</span>
										#2013年会#
									</a>
								</li>
								<li>
									<a href="#">
										<span>123</span>
										#IBOS2.0发布#
									</a>
								</li>
								<li>
									<a href="#">
										<span>123</span>
										#测试什么的最讨厌了#
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="wb-tpc-etr wbc-rb">
						<div class="input-group">
							<span class="input-group-addon">#</span>
							<input type="text" class="form-control" placeholder="输入话题申请主持人">
							<span class="input-group-addon">#</span>
						</div>
						<button type="button" class="btn btn-warning btn-lg btn-block wbb-mt10">申请</button>
					</div>
				</div>

				<div class="wbc-bs">
					<div class="wbc-box wbc-rt wbc-bb wbb-mt20"> <strong>最新话题</strong>
					</div>
					<div class="wb-new-friend">
						<ul class="">
							<li class="clearfix">

								<div class="clearfix">
									<!--关注按钮-->
									<button type="button" class="btn btn-small pull-right wbb-mt10 disno">
										<i class="wbi-wplus"></i>
										关注
									</button>

									<!--同事信息-->
									<div class="pull-left clearfix">
										<div class="pull-left wbb-pr10">
											<a href="#" class="wb-pub-opic">
												<img src="../static/image/defaultAva.gif" alt="">
												<i class="wbi-mike2"></i>
											</a>
										</div>
										<div class="pull-right wbb-pt10 wb-nf-info">
											<strong>小胖</strong>
											<p>博思协创 打酱油份子</p>
										</div>
									</div>
								</div>

								<div class="wb-nf-notes">
									<a href="#" class="xcbu">#打酱油啊打酱油#</a>
									<div class="wb-arr-up"></div>
								</div>
							</li>
							<li class="clearfix">

								<div class="clearfix">
									<!--关注按钮-->
									<button type="button" class="btn btn-small pull-right wbb-mt10 disno">
										<i class="wbi-wplus"></i>
										关注
									</button>

									<!--同事信息-->
									<div class="pull-left clearfix">
										<div class="pull-left wbb-pr10">
											<a href="#" class="wb-pub-opic">
												<img src="../static/image/defaultAva.gif" alt="">
												<i class="wbi-mike2"></i>
											</a>
										</div>
										<div class="pull-right wbb-pt10 wb-nf-info">
											<strong>por</strong>
											<p>博思协创 打酱油份子</p>
										</div>
									</div>
								</div>

								<div class="wb-nf-notes">
									<a href="#" class="xcbu">#带着微博去旅行#</a>
									<div class="wb-arr-up"></div>
								</div>
							</li>
							<li class="clearfix">

								<div class="clearfix">
									<!--关注按钮-->
									<button type="button" class="btn btn-small pull-right wbb-mt10 disno">
										<i class="wbi-wplus"></i>
										关注
									</button>

									<!--同事信息-->
									<div class="pull-left clearfix">
										<div class="pull-left wbb-pr10">
											<a href="#" class="wb-pub-opic">
												<img src="../static/image/test/userAva1.jpg" alt=""></a>
										</div>
										<div class="pull-right wbb-pt10 wb-nf-info">
											<strong>por</strong>
											<p>博思协创 打酱油份子</p>
										</div>
									</div>
								</div>

								<div class="wb-nf-notes">
									<a href="#" class="xcbu">#随便写的#</a>
									<div class="wb-arr-up"></div>
								</div>

							</li>
						</ul>
					</div>

				</div>
			</div>

			<div class="wbc-left pull-left">
				<div class="wb-tpc-join wbc-bs">
					<div class="tit wbc-rt">热门话题榜</div>

					<div class="wb-topic-rank">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th >排名</th>
									<th >话题</th>
									<th >主持人</th>
									<th >微博讨论</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<span class="wbi-rank-one">1</span>
									</td>
									<td><a href="topic.html">#成长路上#</a></td>
									<td>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva3.jpg" alt=""></span>
										<span>the Bird</span>
									</td>
									<td class="xcr">423</td>
								</tr>
								<tr>
									<td><a href=""></a>
										<span class="wbi-rank-two">2</span>
									</td>
									<td><a href="topic.html">#安妮海瑟薇#</a></td>
									<td>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva2.jpg" alt=""></span>
										<span>the Bird</span>
									</td>
									<td class="xcr">400</td>
								</tr>
								<tr>
									<td>
										<span class="wbi-rank-thr">3</span>
									</td>
									<td><a href="topic.html">#天猫双11来了#</a></td>
									<td>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva1.jpg" alt=""></span>
										<span>the Bird</span>
									</td>
									<td class="xcr">399</td>
								</tr>
								<tr>
									<td>
										<span class="wbi-rank-other">4</span>
									</td>
									<td>#天猫双11来了#</td>
									<td>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva2.jpg" alt=""></span>
										<span>the Bird</span>
									</td>
									<td>392</td>
								</tr>
								<tr>
									<td>
										<span class="wbi-rank-other">5</span>
									</td>
									<td>#天猫双11来了#</td>
									<td>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva3.jpg" alt=""></span>
										<span>the Bird</span>
									</td>
									<td>391</td>
								</tr>
								<tr>
									<td>
										<span class="wbi-rank-other">6</span>
									</td>
									<td>#天猫双11来了#</td>
									<td>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva4.jpg" alt=""></span>
										<span>the Bird</span>
									</td>
									<td>390</td>
								</tr>
								<tr>
									<td>
										<span class="wbi-rank-other">7</span>
									</td>
									<td>#天猫双11来了#</td>
									<td>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva5.jpg" alt=""></span>
										<span>the Bird</span>
									</td>
									<td>380</td>
								</tr>
								<tr>
									<td>
										<span class="wbi-rank-other">8</span>
									</td>
									<td>#天猫双11来了#</td>
									<td>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva6.jpg" alt=""></span>
										<span>the Bird</span>
									</td>
									<td>370</td>
								</tr>
								<tr>
									<td>
										<span class="wbi-rank-other">9</span>
									</td>
									<td>#天猫双11来了#</td>
									<td>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva6.jpg" alt=""></span>
										<span>the Bird</span>
									</td>
									<td>360</td>
								</tr>
								<tr>
									<td>
										<span class="wbi-rank-other">10</span>
									</td>
									<td>#天猫双11来了#</td>
									<td>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva6.jpg" alt=""></span>
										<span>the Bird</span>
									</td>
									<td>350</td>
								</tr>
								<tr>
									<td>
										<span class="wbi-rank-other">11</span>
									</td>
									<td>#天猫双11来了#</td>
									<td>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva6.jpg" alt=""></span>
										<span>the Bird</span>
									</td>
									<td>345</td>
								</tr>
								<tr>
									<td>
										<span class="wbi-rank-other">12</span>
									</td>
									<td>#天猫双11来了#</td>
									<td>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva6.jpg" alt=""></span>
										<span>the Bird</span>
									</td>
									<td>234</td>
								</tr>
								<tr>
									<td>
										<span class="wbi-rank-other">13</span>
									</td>
									<td>#天猫双11来了#</td>
									<td>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva6.jpg" alt=""></span>
										<span>the Bird</span>
									</td>
									<td>123</td>
								</tr>
								<tr>
									<td>
										<span class="wbi-rank-other">14</span>
									</td>
									<td>#天猫双11来了#</td>
									<td>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva6.jpg" alt=""></span>
										<span>the Bird</span>
									</td>
									<td>100</td>
								</tr>
								<tr>
									<td>
										<span class="wbi-rank-other">15</span>
									</td>
									<td>#天猫双11来了#</td>
									<td>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva6.jpg" alt=""></span>
										<span>the Bird</span>
									</td>
									<td>79</td>
								</tr>
								<tr>
									<td>
										<span class="wbi-rank-other">16</span>
									</td>
									<td>#天猫双11来了#</td>
									<td>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva6.jpg" alt=""></span>
										<span>the Bird</span>
									</td>
									<td>48</td>
								</tr>
								<tr>
									<td>
										<span class="wbi-rank-other">17</span>
									</td>
									<td>#天猫双11来了#</td>
									<td>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva6.jpg" alt=""></span>
										<span>the Bird</span>
									</td>
									<td>14</td>
								</tr>
								<tr>
									<td>
										<span class="wbi-rank-other">18</span>
									</td>
									<td>#天猫双11来了#</td>
									<td>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva6.jpg" alt=""></span>
										<span>the Bird</span>
									</td>
									<td>3</td>
								</tr>
								<tr>
									<td>
										<span class="wbi-rank-other">19</span>
									</td>
									<td>#天猫双11来了#</td>
									<td>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva5.jpg" alt=""></span>
										<span>the Bird</span>
									</td>
									<td>2</td>
								</tr>
								<tr>
									<td>
										<span class="wbi-rank-other">20</span>
									</td>
									<td>#天猫双11来了#</td>
									<td>
										<span href="#" class="wb-tpcr-pic">
											<img src="../static/image/test/userAva6.jpg" alt=""></span>
										<span>the Bird</span>
									</td>
									<td>1</td>
								</tr>
							</tbody>
						</table>
						<div class="mbox-layer">
							<div class="xac fill-nn">
								<a href="#" class="link-more">
									<i class="cbtn o-more"></i>
									<span class="ilsep">查看30天内记录</span>
								</a>
							</div>
						</div>
					</div>
					<script type="text/javascript">
					$(document).ready(function(){
						$(".wb-topic-rank table thead tr th:nth-child(1)").css("width","40px");
						$(".wb-topic-rank table thead tr th:nth-child(2)").css("width","320px");
						$(".wb-topic-rank table thead tr th:nth-child(3)").css("width","160px");
						$(".wb-topic-rank table thead tr th:nth-child(4)").css("width","60px");
						$(".table th:last-child, .table td:last-child").css("text-align","right");
					});
						
					</script>

				</div>

			</div>

		</div>

	</div>

	<div class="foot"></div>

</body>
</html>