<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>IBOS-相册页-wbalbum</title>
	<!-- load css -->
	<link rel="stylesheet" href="../../../../static/css/base.css">
	<link rel="stylesheet" href="../../../../static/css/common.css">
	<!-- IE8 fixed -->
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="../../../../static/css/iefix.css">
	<![endif]-->
	<!-- private css -->
	<link rel="stylesheet" href="../static/css/wbpublic.css" />
	<link rel="stylesheet" href="../static/css/wbstyle.css" />
</head>
<body>
	
	
	<div class="head"></div>

	<div class="wrap">
		
		<!--顶部 S-->
		<div class="mc mcf clearfix">
			<div class="wb-banner">
				<img src="../static/image/banner/banner.jpg" alt="" />
				<a title="换张banner图吧^_^" href="javascript:;"></a>
			</div>

			<!--用户信息 S-->
			<div class="wb-usi">
				<div class="wb-usi-bg"></div>
				<div class="wb-usi-avatar">
					<div class="wb-usi-edit">
						<a href="#">
							<img src="../static/image/defaultAva.gif" alt="" />
						</a>
						<a href="#" class="wb-usi-edbtn"><i class="wbi-edmy disno"></i><i class="wbi-seot"></i></a>
					</div>
				</div>
				<div class="wb-usi-name"><i class="wbi-man"></i><i class="wbi-women disno"></i><strong>Licht</strong>
					&nbsp;&nbsp;
					<small>协同项目组</small>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<small>设计师</small>
				</div>
				<div class="wb-usi-fans">
					<ul class="wb-usi-fansNum clearfix">
						<li>
							<a href="#"> <b>1</b>
								<span>关注</span>
							</a>
						</li>
						<li>
							<a href="#"> <b>12</b>
								<span>粉丝</span>
							</a>
						</li>
						<li>
							<a href="#">
								<b>1234</b>
								<span>微博</span>
							</a>
						</li>
					</ul>
					<div class="wb-usi-Att">
						<button class="btn btn-small  btn-warning"> <i class="wbi-wplus"></i> 关注</button>
						<button class="btn btn-small disno"> <i class="wbi-eoc"></i> 关注</button>
						<button class="btn btn-small disno"> 编辑个人资料</button>
						<p>得不到的永远在骚动</p>
					</div>
				</div>
			</div>
			<!--用户信息 E-->
			<!--导航 S-->
			<div>
				<ul class="nav nav-tabs nav-tabs-large nav-justified">
					<li>
						<a href="wbindex.html">主页</a>
					</li>
					<li>
						<a href="personal.html">微博</a>
					</li>
					<li class="active">
						<a href="wbalbum.html">相册</a>
					</li>
					<li>
						<a href="#">积分</a>
					</li>
					<li>
						<a href="#">个人资料</a>
					</li>
				</ul>
			</div>
			<!--导航 E-->
		</div>
		<!--顶部 E-->
		
		
		<div class="wb-album-box wbc-bs">
			<button class="btn btn-primary ">上传照片</button>
			<button class="btn">添加相册</button>
			<span class="wb-albumb-num"><strong>Weiss</strong>有&nbsp;<b>4</b>&nbsp;个相册,&nbsp;<b>30</b>&nbsp;张照片</span>
		</div>
		
		<div class="wb-album-cover">
			<ul class="wb-album-list clearfix">

				<li>
					<div class="wb-almc-bg">
						<div class="wb-almc-expimg"></div>
						<div class="wb-almc-nopic"></div>
						<div class="wb-almc-cover">
							
							<div class="wb-almc-num">
								<div class="wb-almc-number">0</div>
								<div class="wb-almc-numinfo disno">
								<p>头像相册</p>
								<p>更新于7月24日</p>
								<p>共 3 张</p>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="wb-almc-bg">
						<!--微博配图标志-->
						<div class="wb-almc-expimg disno"></div>
						
						<!--还没有上传图片-->
						<div class="wb-almc-nopic disno"></div>
						
						<div class="wb-almc-cover">
							<a href="wbpic.html"><img src="../static/image/test/wb-album-pic.png" alt="" /></a>
							<div class="wb-almc-num">
								<div class="wb-almc-number">13</div>
								<div class="wb-almc-numinfo">
								<p>头像相册</p>
								<p>更新于7月24日</p>
								<p>共 3 张</p>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="wb-almc-bg">
						<div class="wb-almc-expimg"></div>
						<div class="wb-almc-nopic disno"></div>
						<div class="wb-almc-cover">
							<a href="wbpic.html"><img src="../static/image/test/wb-almv-pic3.jpg" alt="" /></a>
							<div class="wb-almc-num">
								<div class="wb-almc-number">13</div>
								<div class="wb-almc-numinfo">
								<p>头像相册</p>
								<p>更新于7月24日</p>
								<p>共 3 张</p>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="wb-almc-bg">
						<div class="wb-almc-expimg"></div>
						<div class="wb-almc-nopic disno"></div>
						<div class="wb-almc-cover">
							<a href="#"><img src="../static/image/test/wb-almv-pic2.jpg" alt="" /></a>
							<div class="wb-almc-num">
								<div class="wb-almc-number">13</div>
								<div class="wb-almc-numinfo">
								<p>头像相册</p>
								<p>更新于7月24日</p>
								<p>共 3 张</p>
								</div>
							</div>
						</div>
					</div>
				</li><li>
					<div class="wb-almc-bg">
						<div class="wb-almc-expimg"></div>
						<div class="wb-almc-nopic disno"></div>
						<div class="wb-almc-cover">
							<a href="#"><img src="../static/image/test/wb-almv-pic1.jpg" alt="" /></a>
							<div class="wb-almc-num">
								<div class="wb-almc-number">13</div>
								<div class="wb-almc-numinfo">
								<p>头像相册</p>
								<p>更新于7月24日</p>
								<p>共 3 张</p>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		
		
	</div>
	
	<div class="foot"></div>
	<script src='../../../../../static/js/lib/jquery.js'></script>
	<script src='../../../../../static/js/lang/zh-cn.js'></script>
	<script src='../../../../../static/js/src/base.js'></script>
	<script src='../../../../../static/js/src/common.js'></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".wb-almc-num").mousemove(function(){
				$(this).stop().animate({width:"179px",height:"179px"});
				$(this).children(".wb-almc-number").hide();
				$("wb-almc-numinfo").show();	
			});
			$(".wb-almc-num").mouseout(function(){
				
				$(this).stop().animate({width:"30px",height:"30px"}).children(".wb-almc-number").show();
				$(".wb-almc-number").show();
			});

			$(".wb-album-list>li:nth-child(4n+1)").css({ "padding-left" : "0px" });
			$(".wb-album-list>li:nth-child(4n)").css({ "padding-right" : "0px" });

		});
	</script>
</body>
</html>