<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>IBOS-图片预览-topic</title>
	<!-- load css -->
	<link rel="stylesheet" href="../../../../static/css/base.css">
	<link rel="stylesheet" href="../../../../static/css/common.css">
	<!-- IE8 fixed -->
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="../../../../static/css/iefix.css">
	<![endif]-->
	<!-- private css -->
	<link rel="stylesheet" href="../static/css/wbpublic.css" />
	<link rel="stylesheet" href="../static/css/wbstyle.css" />
</head>
<body>
	<div class="head"></div>
	<div class="wrap">
		<div class="wb-topic clearfix">
			<div class="wbc-right pull-right">
				<div class="wbc-bs">
					<div class="wb-tpc-user wbc-bb">
						<div class="wb-tpcu-banner wbc-rt">
							<img src="../static/image/banner/banner.jpg" alt="" />
						</div>
						<div class="wb-tpcu-usi">
							<div class="wb-tpcu-pic">
								<a href="#">
									<img src="../static/image/defaultAva.gif" alt="" />
								</a>
							</div>
							<div class="wb-tpcu-name"> <strong>Licht</strong>
								&nbsp; <b>·</b>
								&nbsp;
								<small>设计师</small>
							</div>
							<div class="wb-tpcu-num ">
								<ul>
									<li> <b class="xcbu">1</b>
										<p>关注</p>
									</li>
									<li>
										<b class="xcbu">95</b>
										<p>粉丝</p>
									</li>
									<li>
										<b class="xcbu">22</b>
										<p>微博</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="wb-tpc-etr">
						<div class="clearfix  wb-alm-liftview">
							<div class="pull-left">
								<a href="#">
									<b>生活相册</b>
								</a>
								共
								<b class="xcbu">47</b>
								张
							</div>
							<div class="btn-group pull-right">
								<button type="button" class="btn btn-small"> <i class="glyphicon-chevron-left"></i>
								</button>
								<button type="button" class="btn btn-small"> <i class="glyphicon-chevron-right"></i>
								</button>
							</div>
						</div>
						<div>
							<ul class="wb-life-album clearfix">
								<li>
									<a href="">
										<img src="../static/image/test/picView1.jpg" alt="" />
									</a>
								</li>
								<li>
									<a href="">
										<img src="../static/image/test/picView2.jpg" alt="" />
									</a>
								</li>
								<li>
									<a href="">
										<img src="../static/image/test/picView3.jpg" alt="" />
									</a>
								</li>
								<li>
									<a href="">
										<img src="../static/image/test/picView4.jpg" alt="" />
									</a>
								</li>
								<li>
									<a href="">
										<img src="../static/image/test/userAva1.jpg" alt="" />
									</a>
								</li>
								<li>
									<a href="">
										<img src="../static/image/test/picView6.jpg" alt="" />
									</a>
								</li>
								<li>
									<a href="">
										<img src="../static/image/test/picView7.jpg" alt="" />
									</a>
								</li>
								<li>
									<a href="">
										<img src="../static/image/test/picView8.jpg" alt="" />
									</a>
								</li>
								<li>
									<a href="">
										<img src="../static/image/test/picView1.jpg" alt="" />
									</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>

			<div class="wbc-left pull-left">
				<div class="wb-albuml-info wbc-box wbc-bs">

					<div class="wb-pic-focus">
						<ul class="pic">
							<li>
								<a href="#">
									<img src="../static/images/wb_pic.jpg"/>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../static/images/wb_pic2.jpg"/>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../static/images/wb_pic.jpg"/>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../static/images/wb_pic2.jpg"/>
								</a>
							</li>
						</ul>
						<a class="prev" href="javascript:void(0)"></a>
						<a class="next" href="javascript:void(0)"></a>
						<a href="javascript:;" class="del">
							<i class="wbi-pic-del"></i>
						</a>
						<a href="javascript:;" class="setcov">设为封面</a>
						<ul class="hd"></ul>
					</div>
					<div class="wb-pic-text">
						随着触摸屏产品的急速普及，网站项目也跟上了展示脚步，博思协创在360°全景展示、DIY体验、APP应用、手机站建设等方面也积攒了丰富经验。我们相信：只有想不到，没有做不到！上点案例哩
					</div>
					<div class="wb-pic-upload">
						<a href="#" class="pull-right">
							<i class="glyphicon-comment"></i>
							评论（10）
						</a>
						上传于11月14日  来自 iPhone客户端
					</div>

					<!--微博盒子 S-->
					<div class="wb-pic-mes">
						<div class="wb-pub-input">

							<div class="wb-pub-tab">
								<div class="wb-pub-box">

									<div class="wb-pub-finish">发布成功</div>
									<textarea name="" class="wb-pub-text"  rows="4" placeholder="我也说一句..."></textarea>
								</div>
							</div>
						</div>

						<!--发布按钮和功能按钮-->
						<div class="wb-pub-other clearfix">

							<button  type="button"  class="btn btn-small wb-rel-btn btn-warning">&nbsp;&nbsp;&nbsp;&nbsp;发布&nbsp;&nbsp;&nbsp;&nbsp;</button>

							<ul class="list-inline wb-pub-menu">
								<li>
									<a href="#" class="wbi-pub-phiz"></a>
								</li>
								<li>
									<input type="checkbox" />
									<label for="">同时转发到我的微博</label>
								</li>
							</ul>

						</div>

					</div>
					<!--微博盒子 E-->

					<div class="wb-comt-list">
						<ul>
							<li class="clearfix">
								<div class="wb-comt-pic">
									<a href="#">
										<img src="../static/image/test/userAva4.jpg" alt="" />
										<span class="xcbu">Kenneth吴自清：</span>
									</a>
								</div>
								<div class="wb-comt-text">
									微博里总能看到这一幕
									<a href="#" class="xcbu">@ibos</a>
									<span>(18分钟前)</span>
								</div>
								<a href="#" class="pull-right wb-comt-reply xcbu">回复</a>
							</li>
							<li class="clearfix">
								<div class="wb-comt-pic">
									<a href="#">
										<img src="../static/image/test/userAva4.jpg" alt="" />
										<span class="xcbu">乔老爷：</span>
									</a>
								</div>
								<div class="wb-comt-text">
									微博里总能看到这一幕微博里总能看到这一幕微博里总能看到这一幕//
									<a href="#" class="xcbu">@应用官方微博</a>
									: Safari 画得好巧妙啊！
									<span>(18分钟前)</span>
								</div>
								<a href="#" class="pull-right wb-comt-reply xcbu">回复</a>
							</li>
							<li class="clearfix">
								<div class="wb-comt-pic">
									<a href="#">
										<img src="../static/image/test/userAva4.jpg" alt="" />
										<span class="xcbu">Kenneth吴自清：</span>
									</a>
								</div>
								<div class="wb-comt-text">
									微博里总能看到这一幕
									<a href="#" class="xcbu">@ibos</a>
									<span>(18分钟前)</span>
								</div>
								<a href="#" class="pull-right wb-comt-reply xcbu">回复</a>
							</li>
							<li class="clearfix">
								<div class="wb-comt-pic">
									<a href="#">
										<img src="../static/image/test/userAva4.jpg" alt="" />
										<span class="xcbu">Kenneth吴自清：</span>
									</a>
								</div>
								<div class="wb-comt-text">
									微博里总能看到这一幕
									<a href="#" class="xcbu">@ibos</a>
									<span>(18分钟前)</span>
								</div>
								<a href="#" class="pull-right wb-comt-reply xcbu">回复</a>
							</li>
						</ul>
						
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="foot"></div>
	<script src='../../../../../static/js/lib/jquery.js'></script>
	<script src='../../../../../static/js/lang/zh-cn.js'></script>
	<script src='../../../../../static/js/src/base.js'></script>
	<script src='../../../../../static/js/src/common.js'></script>
	<script src="../static/js/weibo.js"></script>
	<script src="../static/js/jquery.SuperSlide2.11.js"></script>
	<script>
		$(document).ready(function(){
			$(".wb-comt-list li").hover(function(){
				$(this).children(".wb-comt-reply").toggle();
			});
			
			$(".wb-pub-text").charCount({counterText:'&nbsp;',counterText2:'&nbsp;',zi:'/140'});

		});
	</script>
	<script>
		jQuery(".wb-pic-focus").hover(function(){ jQuery(this).find(".prev,.next,.del,.setcov").stop(true,true).fadeTo("show",0.8) },function(){ jQuery(this).find(".prev,.next,.del,.setcov").fadeOut() });
		jQuery(".wb-pic-focus").slide({ titCell:".hd", mainCell:".pic",effect:"fold", autoPage:true, delayTime:600, trigger:"click"});
	</script>
</body>
</html>