<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1048576000"></requestLimits>
			</requestFiltering>
		</security>
		<modules>
            <remove name="WebDAVModule" />
        </modules>
		<handlers>
		    <remove name="OPTIONSVerbHandler" />
            <remove name="WebDAV" />
		</handlers>
    </system.webServer>
</configuration>