<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="http://app.ibos.cn" />
                <add name="Access-Control-Allow-Headers" value="Origin, Accept, Content-Type, Authorization, ISCORS" />
                <add name="Access-Control-Allow-Credentials" value="true" />
            </customHeaders>
        </httpProtocol>
        <modules>
            <remove name="WebDAVModule" />
        </modules>
        <handlers>
            <remove name="OPTIONS" />
            <remove name="WebDAV" />
        </handlers>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="1048576000"></requestLimits>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>