/**
 * 登录页
 */
.main-wrap{ width: 1000px;}

.main-ct{ width: 681px;  margin-top: 72px; }
.main-ct h2{ height: 40px; margin: 0 0 52px; background: url(../image/login.png) center -150px no-repeat; text-indent: -9999px; }
.main-ct div{ height: 316px; background: url(../image/main_bg.png) no-repeat;}

.login-panel{ width: 260px; padding: 27px 22px 18px 18px; margin: 53px 12px 0 0; background: #fff; border-radius: 5px; box-shadow:  1px 1px 2px rgba(0, 0, 0, .5); -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .5); -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);}
.login-panel .login-item{margin-bottom: 30px;}
.login-panel .input-group-addon.input-large{padding: 0px; }
.login-panel input[type="text"], .login-panel input[type="password"]{min-height: 50px;}
.login-panel .o-lg-company{ background-position: -36px -83px;}
.login-panel .o-lg-user{ background-position: -80px -83px;}
.login-panel .o-lg-lock{ background-position: -119px -83px;}
.login-panel .has-focus .o-lg-company{ background-position: -58px -83px;}
.login-panel .has-focus .o-lg-user{ background-position: -100px -83px;}
.login-panel .has-focus .o-lg-lock{ background-position: -139px -83px;}

.main-bt{ width: 1000px; margin-top: 50px;}
.main-bt h2{ height: 28px; text-indent: -99999px; margin: 0; background: url(../image/login.png) no-repeat center -113px;}
.main-bt ul{list-style: none; margin: 0; padding: 20px 0 14px;}
.main-bt ul li{ display: inline-block; width: 138px; text-align: center; margin: 25px 0;}
.main-bt ul li div{width: 40px; height: 40px; background-image: url(../image/modicon.png); background-repeat: no-repeat; margin: 0 auto;}
.main-bt ul li p{font-size: 15px; color: #82939e; padding-top: 7px;}

.i-work{ background-position: -9px -5px}
.i-plan{ background-position: -66px -5px}
.i-email{ background-position: -123px -5px}
.i-calendar{ background-position: -180px -5px}
.i-do{ background-position: -238px -5px}
.i-task{ background-position: -295px -5px}
.i-file{ background-position: -352px -5px}
.i-flow{ background-position: -9px -55px}
.i-form{ background-position: -66px -55px}
.i-time{ background-position: -123px -55px}
.i-message{ background-position: -180px -55px}
.i-archives{ background-position: -238px -55px}
.i-workflow{ background-position: -295px -55px}
.i-recruit{ background-position: -352px -55px}

.o-lg-reg, .o-lg-company, .o-lg-user, .o-lg-lock{display: inline-block;width: 20px; height: 20px; vertical-align: middle; background-image: url(../image/login.png); background-repeat: no-repeat;}

.input-group-correct .input-group-addon {background-color: #F2F8F0; border-color: #7CB81C;}
.input-group-error .input-group-addon{ background-color: #FDF0DE; border-color: #E26F50; }
