<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>相册</title>
	<!-- load css -->
	<link rel="stylesheet" href="../../../../../static/css/base.css">
	<!-- IE8 fixed -->
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="../../../../../static/css/iefix.css">
	<![endif]-->
	<link rel="stylesheet" href="../../static/css/common.css">
</head>
<body>
	<div class="ct">
		<div class="clearfix">
			<h1 class="mt">相册</h1>
			<ul class="mn">
				<li>
					<span>全局设置</span>
				</li>
				<li>
					<a href="photo_manage.html">图片管理</a>
				</li>
				<li>
					<a href="album_manage.html">相册管理</a>
				</li>
			</ul>
		</div>
		<div>
			<form action="" class="form-horizontal">
			<!-- 全局设置 start -->
			<div class="ctb">
				<h2 class="st">全局设置</h2>
				<div class="ctbw">
					<div class="control-group">
						<!-- TODO: 建议替换成Slider -->
						<label for="" class="control-label">每页显示相册数</label>
						<div class="controls">
							<input type="text" value="">
						</div>
					</div>
					<div class="control-group">
						<!-- TODO: 建议替换成Slider -->
						<label for="" class="control-label">每页显示图片数</label>
						<div class="controls">
							<input type="text" value="">
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label">图片文件大小限制</label>
						<div class="controls">
							<div class="input-group">
								<input type="text" value="">
								<span class="input-group-addon">MB</span>
							</div>
						</div>
					</div>
					<div class="control-group">
						<!-- TODO: 建议替换成Select -->
						<label for="" class="control-label">图片上传的格式限制</label>
						<div class="controls">
							<input type="text" value="jpg,gif,png">
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-primary btn-large btn-submit">提交</button>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
</body>
</html>