<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>企业微博</title>
	<!-- load css -->
	<link rel="stylesheet" href="../../../../../static/css/base.css">
	<!-- IE8 fixed -->
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="../../../../../static/css/iefix.css">
	<![endif]-->
	<link rel="stylesheet" href="../../static/css/common.css">
</head>
<body>
	<div class="ct">
		<div class="clearfix">
			<h1 class="mt">企业微博</h1>
			<ul class="mn">
				<li>
					<span>微博设置</span>
				</li>
				<li>
					<a href="blog_manage.html">微博管理</a>
				</li>
				<li>
					<a href="blog_comment_manage.html">评论管理</a>
				</li>
			</ul>
		</div>
		<div>
			<form action="" class="form-horizontal">
			<!-- 微博设置 start -->
			<div class="ctb">
				<h2 class="st">微博设置</h2>
				<div class="ctbw">
					<div class="control-group">
						<label for="" class="control-label">全站微博、评论字数限制</label>
						<div class="controls">
							<div class="input-group">
								<input type="text" value="140">
								<span class="input-group-addon">字</span>
							</div>
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label">全站微博、评论发布频率限制</label>
						<div class="controls">
							<div class="input-group">
								<input type="text" value="140">
								<span class="input-group-addon">秒</span>
							</div>
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label">允许发布的微博类型</label>
						<div class="controls">
							<label class="checkbox">
								<input type="checkbox" name="1" id="">
								图片
							</label>
							<label class="checkbox">
								<input type="checkbox" name="1" id="">
								附件
							</label>
							<label class="checkbox">
								<input type="checkbox" name="1" id="">
								话题
							</label>
							<label class="checkbox">
								<input type="checkbox" name="1" id="">
								表扬
							</label>
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label">水印功能</label>
						<div class="controls">
							<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label">迎新汇</label>
						<div class="controls">
							<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label">表扬</label>
						<div class="controls">
							<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">	
						</div>
					</div>
				</div>
			</div>
			<!-- 小组设置 start -->
			<div class="ctb">
				<h2 class="st">小组设置</h2>
				<div class="ctbw">
					<div class="control-group">
						<label for="" class="control-label">兴趣小组</label>
						<div class="controls">
							<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label">审核</label>
						<div class="controls">
							<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label">最多创建小组数</label>
						<div class="controls">
							<input type="text" value="">
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label">最多加入小组数</label>
						<div class="controls">
							<input type="text" value="">
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label"></label>
						<div class="controls">
							<button type="submit" class="btn btn-primary btn-large btn-submit">提交</button>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
	<script src="../../../../../static/js/jquery.js"></script>
	<script src="../../../../../static/js/base.js"></script>
	<script src="../../../../../static/js/extra.js"></script>
</body>
</html>