<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>图书借阅与分享</title>
	<!-- load css -->
	<link rel="stylesheet" href="../../../../../static/css/base.css">
	<!-- IE8 fixed -->
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="../../../../../static/css/iefix.css">
	<![endif]-->
	<link rel="stylesheet" href="../../static/css/common.css">
</head>
<body>
	<div class="ct">
		<div class="clearfix">
			<h1 class="mt">图书借阅与分享</h1>
		</div>
		<div>
			<form action="" class="form-horizontal">
			<!-- 图书借阅设置 start -->
			<div class="ctb">
				<h2 class="st">图书借阅设置</h2>
				<div class="ctbw">
					<div class="control-group">
						<label for="" class="control-label">限制每次借阅</label>
						<div class="controls">
							<div class="input-group row">
								<div class="span6">
									<div class="input-group">
										<input type="text" value="30">
										<span class="input-group-addon">天</span>
									</div>
								</div>
								<div class="span6">
									<div class="input-group">
										<input type="text" value="5">
										<span class="input-group-addon">本</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label">续借归还</label>
						<div class="controls">
							<div class="input-group row">
								<div class="span6">
									<div class="input-group">
										<input type="text" value="30">
										<span class="input-group-addon">天</span>
									</div>
								</div>
								<div class="span6">
									<div class="input-group">
										<input type="text" value="2">
										<span class="input-group-addon">次</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label">续借间隔</label>
						<div class="controls">
							<div class="input-group row">
								<div class="span6">
									<div class="input-group">
										<input type="text" value="30">
										<span class="input-group-addon">天</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-primary btn-large btn-submit">提交</button>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
	
</body>
</html>