<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CRM系统</title>
	<!-- load css -->
	<link rel="stylesheet" href="../../../../../static/css/base.css">
	<!-- IE8 fixed -->
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="../../../../../static/css/iefix.css">
	<![endif]-->
	<link rel="stylesheet" href="../../static/css/common.css">
</head>
<body>
	<div class="ct">
		<div class="clearfix">
			<h1 class="mt">CRM系统</h1>
			<ul class="mn">
				<li>
					<a href="crm_check_repeat.html">检查重复</a>
				</li>
				<li>
					<a href="crm_autonumber.html">自动编号</a>
				</li>
				<li>
					<a href="crm_recycle.html">回收站</a>
				</li>
				<li>
					<a href="crm_product.html">产品</a>
				</li>
				<li>
					<span>快递模板</span>
				</li>
				<li>
					<a href="crm_sms_template.html">短信模板</a>
				</li>
				<li>
					<a href="crm_email_template.html">邮件模板</a>
				</li>
			</ul>
		</div>
		<div>
			<!-- 快递模板 start -->
			<div class="ctb">
				<h2 class="st">快递模板</h2>
				<div>
					<ul class="grid-list express-temp-list">
						<li>
							<img src="../../../static/image/temp/1.jpg" alt="ems">
							<div class="express-temp-ft">
								<a href="baidu.com" class="glyphicon-edit"></a>
								<a href="" class="glyphicon-edit"></a>
								<a href="" class="glyphicon-remove"></a>
							</div>
						</li>
						<li>
							<img src="../../../static/image/temp/2.jpg" alt="中通">
							<div class="express-temp-ft">
								<a href="" class="glyphicon-edit"></a>
								<a href="" class="glyphicon-edit"></a>
								<a href="" class="glyphicon-remove"></a>
							</div>
						</li>
						<li>
							<img src="../../../static/image/temp/3.jpg" alt="顺丰">
							<div class="express-temp-ft">
								<a href="" class="glyphicon-edit"></a>
								<a href="" class="glyphicon-edit"></a>
								<a href="" class="glyphicon-remove"></a>
							</div>
						</li>
					</ul>
					<a href="crm_express_design.html" class="upload-ctrl express-temp-add ">
						<i>+</i>
						<p>添加打印模板</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>