<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CRM系统</title>
	<!-- load css -->
	<link rel="stylesheet" href="../../../../../static/css/base.css">
	<!-- IE8 fixed -->
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="../../../../../static/css/iefix.css">
	<![endif]-->
	<link rel="stylesheet" href="../../static/css/common.css">
</head>
<body>
	<div class="ct">
		<div class="clearfix">
			<h1 class="mt">CRM系统</h1>
			<ul class="mn">
				<li>
					<span>检查重复</span>
				</li>
				<li>
					<a href="crm_autonumber.html">自动编号</a>
				</li>
				<li>
					<a href="crm_recycle.html">回收站</a>
				</li>
				<li>
					<a href="crm_product.html">产品</a>
				</li>
				<li>
					<a href="crm_express_template.html">快递模板</a>
				</li>
				<li>
					<a href="crm_sms_template.html">短信模板</a>
				</li>
				<li>
					<a href="crm_email_template.html">邮件模板</a>
				</li>
			</ul>
		</div>
		<div>
			<form action="" class="form-horizontal">
			<!-- 检查重复 start -->
			<div class="ctb">
				<h2 class="st">检查重复</h2>
				<div class="ctbw">
					<div class="control-group">
						<label for="" class="control-label">检查客户</label>
						<div class="controls">
							<label class="checkbox">
								<input type="checkbox" name="1" id="" checked>
								客户名称
							</label>
							<label class="checkbox">
								<input type="checkbox" name="1" id="">
								电话
							</label>
							<label class="checkbox">
								<input type="checkbox" name="1" id="">
								地址
							</label>
							<label class="checkbox">
								<input type="checkbox" name="1" id="">
								电子邮箱
							</label>
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label">检查联系人</label>
						<div class="controls">
							<label class="checkbox">
								<input type="checkbox" name="2" id="" checked>
								联系人名称
							</label>
							<label class="checkbox">
								<input type="checkbox" name="2" id="">
								地址
							</label>
							<label class="checkbox">
								<input type="checkbox" name="2" id="">
								移动电话
							</label>
							<label class="checkbox">
								<input type="checkbox" name="2" id="">
								工作电话
							</label>
							<label class="checkbox">
								<input type="checkbox" name="2" id="">
								家庭电话
							</label>
							<label class="checkbox">
								<input type="checkbox" name="2" id="">
								电子邮箱
							</label>
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label"></label>
						<div class="controls">
							<button type="submit" class="btn btn-primary btn-large btn-submit">提交</button>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
	<script src="../../../../../static/js/jquery.js"></script>
	<script src="../../../../../static/js/base.js"></script>
	<script src="../../../../../static/js/extra.js"></script>
</body>
</html>