<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人文件柜</title>
	<!-- load css -->
	<link rel="stylesheet" href="../../../../../static/css/base.css">
	<!-- IE8 fixed -->
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="../../../../../static/css/iefix.css">
	<![endif]-->
	<link rel="stylesheet" href="../../static/css/common.css">
</head>
<body>
	<div class="ct">
		<div class="clearfix">
			<h1 class="mt">个人文件柜</h1>
		</div>
		<div>
			<form action="" class="form-horizontal">
			<!-- 基本设置 start -->
			<div class="ctb">
				<h2 class="st">基本设置</h2>
				<div class="ctbw">
					<div class="control-group">
						<label for="" class="control-label">最大上传文件</label>
						<div class="controls">
							<input type="text">
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label">存储目录</label>
						<div class="controls">
							<input type="text">
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label">用户文件容量</label>
						<div class="controls">
							<input type="text">
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label">回收站按时清空</label>
						<div class="controls">
							<select name="" id="">
								<option value="">从不</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label">在线编辑</label>
						<div class="controls">
							<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label">文件预览</label>
						<div class="controls">
							<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
						</div>
					</div>
				</div>
			</div>
			<!-- 文件容量分配 start -->
			<div class="ctb">
				<h2 class="st">文件容量分配</h2>
				<div class="ctbw">
					<div class="control-group">
						<label for="" class="control-label">按角色分配</label>
						<div class="controls">
							<!-- TODO: Selector -->
							<div class="row">
								<div class="span7">
									<input type="text" value="Selector">
								</div>
								<div class="span5">			
									<div class="input-group">
										<input type="text">
										<span class="input-group-addon">MB</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<a href="" class="operate-group">
								<i class="cbtn o-plus"></i>
								添加多个容量分配
							</a>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-primary btn-large btn-submit">提交</button>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
	<script src="../../../../../static/js/jquery.js"></script>
	<script src="../../../../../static/js/base.js"></script>
	<script src="../../../../../static/js/extra.js"></script>
</body>
</html>