<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>人力资源</title>
	<!-- load css -->
	<link rel="stylesheet" href="../../../../../static/css/base.css">
	<!-- IE8 fixed -->
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="../../../../../static/css/iefix.css">
	<![endif]-->
	<link rel="stylesheet" href="../../static/css/common.css">
</head>
<body>
	<div class="ct">
		<div class="clearfix">
			<h1 class="mt">人力资源</h1>
			<ul class="mn">
				<li>
					<span>组织架构</span>
				</li>
				<li>
					<a href="hr_recruit.html">招聘管理</a>
				</li>
				<li>
					<a href="hr_personnel.html">人事档案</a>
				</li>
			</ul>
		</div>
		<div>
			<form action="" class="form-horizontal">
			<!-- 用户管理 start -->
			<div class="ctb">
				<h2 class="st">用户管理</h2>
				<div class="ctbw">
					<div class="control-group">
						<label for="" class="control-label">禁止修改密码用户管理</label>
						<div class="controls">
							<!-- TODO: Selector -->
							<input type="text" value="Selector">
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label">禁止修改状态用户管理</label>
						<div class="controls">
							<!-- TODO: Selector -->
							<input type="text" value="Selector">
						</div>
					</div>
				</div>
			</div>
			<!-- 岗位角色 start -->
			<div class="ctb">
				<h2 class="st">岗位角色</h2>
				<div class="ctbw">
					<div class="control-group">
						<label for="" class="control-label">新增职位权限全开</label>
						<div class="controls">
							<div class="controls">
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</div>
						</div>
					</div>
					<div class="control-group">
						<label for="" class="control-label"></label>
						<div class="controls">
							<button type="submit" class="btn btn-primary btn-large btn-submit">提交</button>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
	<script src="../../../../../static/js/jquery.js"></script>
	<script src="../../../../../static/js/base.js"></script>
	<script src="../../../../../static/js/extra.js"></script>
</body>
</html>