<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>人力资源</title>
	<!-- load css -->
	<link rel="stylesheet" href="../../../../../static/css/base.css">
	<!-- IE8 fixed -->
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="../../../../../static/css/iefix.css">
	<![endif]-->
	<link rel="stylesheet" href="../../static/css/common.css">
</head>
<body>
	<div class="ct">
		<div class="clearfix">
			<h1 class="mt">人力资源</h1>
			<ul class="mn">
				<li>
					<a href="hr_organization.html">组织架构</a>
				</li>
				<li>
					<a href="hr_recruit.html">招聘管理</a>
				</li>
				<li>
					<span>人事档案</span>
				</li>
			</ul>
		</div>
		<div>
			<!-- 招聘管理 start -->
			<div class="ctb">
				<h2 class="st">招聘管理</h2>
				<table class="table table-bordered table-striped table-operate">
					<thead>
						<tr>
							<th width="70">
								<label class="checkbox" for="checkbox_0"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" data-name="w" id="checkbox_0">
									必填
								</label>
							</th>
							<th>字段名称</th>
							<th width="100">默认状态</th>
							<th>验证规则</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="4">
								<strong>基本信息</strong>
							</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_1"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_1" name="w" checked>
								</label>
							</td>
							<td>入职时间</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_2"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_2" name="w" checked>
								</label>
							</td>
							<td>出生日期</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_3"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_3" name="w" checked>
								</label>
							</td>
							<td>身份证号码</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_4"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_4" name="w">
								</label>
							</td>
							<td>民族</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_5"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_5" name="w" checked>
								</label>
							</td>
							<td>政治面貌</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_6"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_6" name="w" checked>
								</label>
							</td>
							<td>婚姻状况</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_7"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_7" name="w">
								</label>
							</td>
							<td>身高</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_8"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_8" name="w" >
								</label>
							</td>
							<td>体重</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td colspan="4">
								<strong>教育经历</strong>
							</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_9"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_9" name="w" checked>
								</label>
							</td>
							<td>毕业时间</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_10"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_10" name="w" checked>
								</label>
							</td>
							<td>专业</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_11"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_11" name="w" checked>
								</label>
							</td>
							<td>学历</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_12"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_12" name="w" checked>
								</label>
							</td>
							<td>毕业院校</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td colspan="4">
								<strong>联系地址</strong>
							</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_13"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_13" name="w" checked>
								</label>
							</td>
							<td>籍贯</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_14"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_14" name="w" checked>
								</label>
							</td>
							<td>户口所在地</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_15"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_15" name="w" checked>
								</label>
							</td>
							<td>住址</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_16"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_16" name="w" checked>
								</label>
							</td>
							<td>住宅电话</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
					</tbody>
				</table>
				<button type="submit" class="btn btn-primary btn-large btn-submit">保存</button>
			</div>
		</div>
	</div>
	<script src="../../../../../static/js/jquery.js"></script>
	<script src="../../../../../static/js/base.js"></script>
	<script src="../../../../../static/js/extra.js"></script>
</body>
</html>