<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>人力资源</title>
	<!-- load css -->
	<link rel="stylesheet" href="../../../../../static/css/base.css">
	<!-- IE8 fixed -->
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="../../../../../static/css/iefix.css">
	<![endif]-->
	<link rel="stylesheet" href="../../static/css/common.css">
</head>
<body>
	<div class="ct">
		<div class="clearfix">
			<h1 class="mt">人力资源</h1>
			<ul class="mn">
				<li>
					<a href="hr_organization.html">组织架构</a>
				</li>
				<li>
					<span>招聘管理</span>
				</li>
				<li>
					<a href="hr_personnel.html">人事档案</a>
				</li>
			</ul>
		</div>
		<div>
			<!-- 招聘管理 start -->
			<div class="ctb">
				<h2 class="st">招聘管理</h2>
				<table class="table table-bordered table-striped table-operate">
					<thead>
						<tr>
							<th width="70">
								<label class="checkbox" for="checkbox_0"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" data-name="w" id="checkbox_0">
									必填
								</label>
							</th>
							<th>字段名称</th>
							<th width="100">默认状态</th>
							<th>验证规则</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="4">
								<strong>基本信息</strong>
							</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_1"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_1" name="w" checked>
								</label>
							</td>
							<td>姓名</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_2"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_2" name="w" checked>
								</label>
							</td>
							<td>性别</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_3"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_3" name="w" checked>
								</label>
							</td>
							<td>工作年限</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_4"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_4" name="w" checked>
								</label>
							</td>
							<td>出生日期</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_5"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_5" name="w" checked>
								</label>
							</td>
							<td>籍贯</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_6"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_6" name="w" checked>
								</label>
							</td>
							<td>学历</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_7"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_7" name="w" checked>
								</label>
							</td>
							<td>婚姻状况</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_8"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_8" name="w" checked>
								</label>
							</td>
							<td>手机</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_9"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_9" name="w">
								</label>
							</td>
							<td>email</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_10"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_10" name="w" checked>
								</label>
							</td>
							<td>即时通讯</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_10"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_10" name="w">
								</label>
							</td>
							<td>邮编</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td colspan="4">
								<strong>求职意向</strong>
							</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_11"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_11" name="w">
								</label>
							</td>
							<td>到岗时间</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_12"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_12" name="w" checked>
								</label>
							</td>
							<td>应聘职位</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_13"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_13" name="w">
								</label>
							</td>
							<td>工作地点</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_14"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_14" name="w">
								</label>
							</td>
							<td>工作性质</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_15"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_15" name="w">
								</label>
							</td>
							<td>期望月薪</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td colspan="4">
								<strong>详细信息</strong>
							</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_16"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_16" name="w">
								</label>
							</td>
							<td>简历来源</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_17"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_17" name="w">
								</label>
							</td>
							<td>上传附件</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_18"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_18" name="w" checked>
								</label>
							</td>
							<td>工作经历</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_19"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_19" name="w" checked>
								</label>
							</td>
							<td>项目经验</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_20"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_20" name="w" checked>
								</label>
							</td>
							<td>教育经历</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_21"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_21" name="w">
								</label>
							</td>
							<td>语言能力</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_22"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_22" name="w">
								</label>
							</td>
							<td>计算机能力</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_23"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_23" name="w">
								</label>
							</td>
							<td>培训经历</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_24"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_24" name="w">
								</label>
							</td>
							<td>相关技能</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_25"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_25" name="w">
								</label>
							</td>
							<td>自我评价</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_26"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_26" name="w">
								</label>
							</td>
							<td>相关证书</td>
							<td>
								<input type="checkbox" name="" id="" data-toggle="switch" class="visi-hidden">
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
						<tr>
							<td>
								<label class="checkbox" for="checkbox_27"><span class="icon"></span><span class="icon-to-fade"></span>
									<input type="checkbox" value="" id="checkbox_27" name="w">
								</label>
							</td>
							<td>社会实践</td>
							<td>
							</td>
							<td>SDIFKIXEJXIKFirK</td>
						</tr>
					</tbody>
				</table>
				<button type="submit" class="btn btn-primary btn-large btn-submit">保存</button>
			</div>
		</div>
	</div>
	<script src="../../../../../static/js/jquery.js"></script>
	<script src="../../../../../static/js/base.js"></script>
	<script src="../../../../../static/js/extra.js"></script>
</body>
</html>