html{
	background: #94ACCD;
	background: -webkit-linear-gradient(top, #C4D5ED, #94ACCD);
	background: -moz-linear-gradient(top, #C4D5ED, #94ACCD);
	background: -o-linear-gradient(top, #C4D5ED, #94ACCD);
	background: linear-gradient(top, #C4D5ED, #94ACCD);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.mc {
	background: none;
	background-color: #fff;
}