.o-logo-tip,
.o-image-tip,
.o-warning-tip,
.o-link-logo，
.o-co-trash{
	background-image: url(../image/bindCo_icon_list.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.o-logo-tip{
	width: 460px;
	height: 25px;
	background-position: 0 0;
}
.o-image-tip{
	width: 420px;
	height: 240px;
	background-position: 0 -180px;
}
.o-warning-tip{
	width: 75px;
	height: 75px;
	background-position: -20px -80px;
}
.o-link-logo{
	width: 20px;
	height: 20px;
	background-position: 0 -80px;
}
.o-co-trash{
	width: 20px;
	height: 20px;
	background-position: -200px -80px;
	vertical-align: middle;
	cursor: pointer;
}

.co-banding-wrap,
.co-result-wrap{
	width: 720px;
  	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
  	position: relative;
  	overflow: hidden;
  	border: 0 solid rgba(0, 0, 0, 0);
  	background-color: #FFF;
}
.box-top{
	background-color: #f9fbff;
	padding: 20px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}
.phone-input,
.password-input{
	width: 200px;
}
.opt-btn{
	padding: 9px 25px;
}
.box-body{
	text-align: center;
	padding: 30px 0;
}
.logo-tip-wrap{
	margin-bottom: 30px;
}

.rbox-top{
	background-color: #fbfbfb;
	padding: 20px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}
.logo-wrap{
	width: 80px;
	height: 80px;
	border: 1px #ebeff6 solid;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.logo-wrap img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.rbox-info-wrap{
	margin: 5px 0 0 20px;
}
.rbox-opt-wrap{
	padding-top: 60px;
}
.rbox-box{
	padding: 20px;
}
.rinfo-box{
	display: inline-block;
	padding-left: 20px;
	width: 220px;
	height: 80px;
	border-left: 1px #ebeff6 solid;
}
.rinfo-box:first-child{
	padding-left: 0;
	border-left: 0;
}
.rinfo-box .tits{
	color: #b2c0d1;
	margin-bottom: 20px;
}
.binding-btn{
	position: relative;
	top: -20px;
	padding: 9px 41px;
}
.warning-box-content{
	padding: 15px 0 20px 0;
	border-bottom: 1px #ebeff6 solid;
	margin-bottom: 20px;
}
.unbinding-btn{
	padding: 9px 61px;
  	margin-left: 190px;
}
.warning-box-content .radio{
	margin-bottom: 0;
} 
.again-login-btn{
	margin-left: 255px;
	padding: 9px 61px;
}
.unify-code-btn{
	margin-left: 190px;
	padding: 9px 75px;
}
.cy-info-wrap{
	margin-left: 225px;
}

.match-btn-wrap{
	padding: 10px 20px;
	border-bottom: 1px #ebeff6 solid;
}
.manual-bind-wrap{
	padding: 20px;
	border-bottom: 1px #ebeff6 solid;
}
.match-type-wrap{
	margin: 10px 0;
}
.dialog-info-wrap .caret{
	vertical-align: middle;
}
.info-toggle-hook{
	cursor: pointer;
}
.match-type-wrap{
	margin: 10px 0;
}
.result-opt-wrap{
	padding: 0 10px 10px 20px;
}
.result-info-table tbody td{
	padding: 0 10px;
}
.first-box{
	padding: 80px 0;
}


/*  酷办公同步时样式 */
.setting-bind-iframe{
	width: 386px;
	padding: 3px;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
	border: 1px solid #EBEFF6;
}

.o-weixin-tip,
.o-ibos-tip,
.o-transport-right,
.o-transport-left,
.o-opt-success,
.o-opt-faliue{
	background-image: url(../image/cobind_setting.png);
	background-repeat: no-repeat;
	display: inline-block;
}
.o-weixin-tip,
.o-ibos-tip,
.o-opt-success,
.o-opt-faliue{
	width: 72px;
	height: 72px;
}
.o-weixin-tip{
	background-position: 0 0;
	margin-left: 10px;
}
.o-ibos-tip{
	background-position: -90px 0;
}
.o-opt-success{
	background-position: -180px 0;
}
.o-opt-faliue{
	background-position: -270px 0;
}
.o-transport-right,
.o-transport-left{
	width: 120px;
	height: 12px;
}
.o-transport-right{
	background-position: 0 -90px;
}
.o-transport-left{
	background-position: -120px -90px;
}
.conpamy-info-wrap{
	margin-left: 40px;
}
.error-info-table{
	width: 724px;
}

.o-co-tip, .o-ibo-tip{
	width: 40px;
	height: 40px;
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(../image/snyc_setting.png);
}
.o-ibo-tip{
	background-position: left top;
}
.o-co-tip{
	background-position: right top;
}


.sync-wrap{
	width: 158px;
}