.ctb{
	background-color: transparent;
}
.fsn{
	font-size: 14px;
}
.mtm{
	margin-top: 10px;
}
.no-data-tip {
	padding:20px;
	height: 300px;
	background: url(../image/no-info.png) no-repeat center center;
	text-indent: -9999px;
}

.o-bind-step-one,
.o-bind-step-two,
.o-bind-step-three,
.o-step-link{
	background-image: url(../image/dashboard_bind.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.o-bind-step-two,
.o-bind-step-one,
.o-bind-step-three{
	width: 172px;
	height: 172px;
}
.o-bind-step-one{
	background-position: 0 0;
}
.o-bind-step-two{
	background-position: -180px 0;
}
.o-bind-step-three{
	background-position: -360px 0;
}
.o-step-link{
	width: 335px;
	height: 5px;
	background-position: 0 -194px;
	position: absolute;
	top: 88px;
	left: 323px;
	z-index: 1;
}
.o-result-tip,
.o-failure-tip{
	background-image: url(../image/d_organization.png);
	background-repeat: no-repeat;
	display: inline-block;
}
.o-result-tip,
.o-failure-tip{
	width: 72px;
	height: 72px;
}
.o-result-tip{
	background-position: 0 -90px;
}
.o-failure-tip{
	background-position: -72px -90px;
}

.bind-step-tip,
.setting-step-tip{
	width: 1000px;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
	border: 1px solid #EBEFF6;
	border: 0 solid rgba(0, 0, 0, 0);
	background-color: #FFF;
}
.step-tip-top{
	border-bottom: 1px #ebeff6 solid;
}
.step-tip-wrap{
	margin: 0 auto;
	text-align: center;
}
.bind-step-list{
	position: relative;
	z-index: 2;
}
.bind-step-list li{
	text-align: center;
	margin-right: 40px;
}
.bind-step-list li:last-child{
	margin-right: 0;
}
.step-tip-footer{
	text-align: center;
	margin-bottom: 20px;
}
.bind-btn{
	padding: 14px 64px;
}
.bind-info-dialog{
	padding: 20px 20px 0 0;
}
.form-samll-narrow .control-group>.controls{
	margin-left: 114px;
}
.form-samll-narrow .control-group>.control-label{
	width: 98px;
}


.trick-tip-list{
	margin: 8px 0 0px 25px;
}
.trick-tip-list li{
	font-size: 14px;
}
.weixin-table-wrap{
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
	border: 1px solid #EBEFF6;
	border: 0 solid rgba(0, 0, 0, 0);
	background-color: #FFF;
}
.weixin-opt-table{
	background-image: url(../image/weixin_thead_bg.png);
	background-repeat: repeat-y;
	background-position: 0 0;
	margin-bottom: 0;
}
.weixin-opt-table thead th{
	background-color: transparent;
	color: #fff;
	border-left: 0;
	border-right: 0;
}

.no-data-tr{
	display: none;
}

.o-setting-one,
.o-setting-two,
.o-setting-three,
.o-setting-four{
	background-image: url(../image/weixin_setting_step.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.o-setting-one,
.o-setting-two,
.o-setting-three,
.o-setting-four{
	position: absolute;
	top: 0;
	left: -20px;
	width: 80px;
	height: 68px;
}
.o-setting-one{
	background-position: 0 0;
}
.o-setting-two{
	background-position: -90px 0;
}
.o-setting-three{
	background-position: 0 -90px;
}
.o-setting-four{
	background-position: -90px -90px;
}
.setting-step-content .alert{
	margin-bottom: 0;
}
.setting-step-title{
	position: relative;
	background-image: url(../image/weixin_thead_bg.png);
	background-repeat: repeat-y;
	background-position: 0 0;
	overflow: hidden;
}
.setting-step-dsec{
	padding: 20px;
	margin-left: 45px;
	font-weight: 700;
	color: #fff;
}
.step-info-table{
	margin-bottom: 0;
}
.step-info-table tbody tr td{
	position: relative;
}
.step-info-table tbody tr{
	border-bottom: 1px #ebeff6 solid;
}


.o-weixin-tip,
.o-ibos-tip,
.o-transport-right,
.o-transport-left,
.o-opt-success,
.o-opt-faliue{
	background-image: url(../image/bind_setting.png);
	background-repeat: no-repeat;
	display: inline-block;
}
.o-weixin-tip,
.o-ibos-tip,
.o-opt-success,
.o-opt-faliue{
	width: 72px;
	height: 72px;
}
.o-weixin-tip{
	background-position: 0 0;
	margin-left: 10px;
}
.o-ibos-tip{
	background-position: -90px 0;
}
.o-opt-success{
	background-position: -180px 0;
}
.o-opt-faliue{
	background-position: -270px 0;
}
.o-transport-right,
.o-transport-left{
	width: 120px;
	height: 12px;
}
.o-transport-right{
	background-position: 0 -90px;
}
.o-transport-left{
	background-position: -120px -90px;
}

.company-info-wrap{
	height: 78px;
	padding: 20px 0 0 20px;
	border: 1px solid #ffecd1;
	border-radius: 2px;
	background-color: #fffbf4;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}
.company-logo,
.company-logo img{
	width: 58px;
	height: 58px;
	border-radius: 29px;
}
.company-logo{
	border: 1px solid #dadfe5;
	background-color: #fff;
	position: relative;
	display: inline-block;
}
.weixin-logo,
.ibos-logo{
	width: 24px;
	height: 24px;
	padding: 3px;
	position: absolute;
	left: 38px;
	top: 33px;
    border-radius: 30px;
}
.ibos-logo{
	background-color: #fffbf4;
}
.weixin-logo{
	background-color: #f9fbff;
}
.bind-info-wrap{
	width: 720px;
	padding: 30px;
	box-sizing: border-box;
}
.bind-result-wrap{
	width: 320px;
}
.box-shadow{
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	border: 1px solid #EBEFF6;
	background-color: #FFF;
}

.tooltip-inner{
  	white-space: normal;
}
.aes-key-tip{
	width: 200px;
}
.aes-key-tip p{
	text-align: left;
	word-break: break-all;
	line-height: 20px;
}

.ibos-qy,
.weixin-qy{
	width: 320px;
	padding: 20px 0 17px;
	text-align: center;
	margin-bottom: 20px;
}
.ibos-qy{
	background-color: #fffbf4;
	float: left;
	position: relative;
	border-color: #ffecd1;
}
.weixin-qy{
	background-color: #f9fbff;
	float: right;
}
.ibos-qy .aes-key{
	position: absolute;
	right: 8px;
	top: 8px;
	padding: 0 5px 0 4px;
	background: #fff;
	border: 1px solid #ee8c0c;
	border-radius: 4px;
	font-size: 10px;
	color: #ee8c0c;
	cursor: pointer;
}

.sysurl-verify{
	margin-top: 10px;
}
.sysurl-verify span{
	color: #82939e;
	font-size: 18px;
	line-height: 54px;
}
.verify-msg{
	padding: 15px 0 29px;
	line-height: 16px;
	border-bottom: 1px solid #ebeff6;
}
.verify-msg.success{
	color: #91ce31;
}
.verify-msg.error{
	color: #e26f50;
}

.co-binding-info-box {
	margin: 15px 0 0;
	position: relative;
}

.co-binding-info-box .logout{
	position: absolute;
	left: 0;
	top: 15px;
    line-height: 20px;
}
.logout .o-back-arrow{
	display: inline-block;
	position: relative;
	top: 2px;
}
.wrap-footer {
	margin-top: 30px;
}
.wrap-footer label{
	margin: 20px 0;
}
 
.auto-sync{
	width: 660px;
	margin-top: 20px;
	padding: 15px 30px;
	background-color: #fff;
	border: 1px solid #ebeff6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	border-radius: 4px;
}
.auto-sync label{
	float: right;
	position: relative;
	top: -50px;
}
.form-crowded .control-group>.control-label{
	width: 70px;
}
.form-crowded .control-group>.controls{
	margin-left: 90px;
}
.form-crowded .control-group:last-child{
	margin-bottom: 0;
}
.bind-title-tip{
	margin: 5px 0 0 40px;
}

.o-setting-result{
	background: url(../image/setting_result.png) no-repeat 0 0;
	display: inline-block;
	vertical-align: middle;
	width: 450px;
	height: 685px;
}
.setting-result-wrap{
	width: 450px;
	margin-left: 120px;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
	border: 1px solid #EBEFF6;
	border: 0 solid rgba(0, 0, 0, 0);
	background-color: #FFF;
}


.o-del-tip{
	width: 780px;
	display: inline-block;
	vertical-align: middle;
}
.o-del-tip{
	background: url(../image/del_tip.png) no-repeat 0 0;
	height: 448px;
}
.open-app-iframe{
	width: 100%;
	border: 0;
	height: 900px;
}
.app-view-iframe{
	width: 100%;
	border: 0;
	height: 1434px;
}

.bind-info-wrap .result-info-wrap{
	width: 300px;
	padding: 20px 0;
	margin: 0 auto;
}
.bind-info-wrap .syncing-info-wrap{
	height: 160px;
}
.bind-info-wrap .co-binding-state{
	top: 85px;
}
.license{
	padding: 15px 20px;
	border: 2px solid #E7EDF5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #FFF;
	font-size: 16px;
	width: 600px;
}
.wexin-bind-iframe{
	width: 800px;
	height: 417px;
	border: 0;
}
.setting-bind-iframe{
	width: 720px;
	height: 712px;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
	border: 1px solid #EBEFF6;
}
.sync-data-select{
	width: 350px;
	height: 190px !important;
}
.sync-hr{
	margin: 10px 0;
}

.o-unbinding-warning{
	background: url(../image/binding_warning.png) no-repeat 0 0;
	width: 164px;
	height: 238px;
	display: inline-block;
	vertical-align: middle;
}
.unbinding-warning-wrap{
	margin-top: 60px;
}
.wraning-opt-tip{
	margin-left: 30px;
}

/* 微信企业绑定4.0 */
.co-banding-wrap {
	width: 720px;
  	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
  	position: relative;
  	overflow: hidden;
  	border: 0 solid rgba(0, 0, 0, 0);
  	background-color: #FFF;
}
.ibosoa-info {
    position: relative;
    width: 670px;
    padding: 20px 0 17px;
    margin: 20px auto;
    text-align: left;
	background-color: #fffbf4;
    border-color: #ffecd1;
}
.ibosoa-info .company-logo {
	margin: 0 20px;
}
.company-info {
	width: 550px;
}
.wx-binding-check {
	margin: 30px 20px;
	text-align: center;
}
.fsb {
	margin-bottom: 20px;
	font-size: 16px;
}
.wx-check-result {
	margin-top: 15px;
	margin-bottom: 25px;
}
.wx-btn-group {
	border-top: 1px solid #EBEFF6;
	padding: 15px 0;
	margin: 0 20px;
}
.wx-btn-group .o-back-arrow {
	position: relative;
	top: 3px;
}
.wx-back-btn:hover .o-back-arrow{
	background-position: -510px -244px;
}
.wx-back-tip {
	display: inline-block;
	font-size: 16px;
	margin-left: 5px;
	transform: translateY(-2px);
}
.wx-suite-install {
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-100%);
	width: 220px;
	height: 50px;
}
.wx-suite-btn {
	position: relative;
	right: -30px;
	vertical-align: middle;
}
.wx-app-title {
	position: relative;
	padding-bottom: 20px;
	border-bottom: 1px solid #EBEFF6;
}
.wx-app-logo {
	display: inline-block;
	width: 55px;
	height: 55px;
	padding: 8px 0;
	vertical-align: middle;
}
.wx-app-text-box {
	position: relative;
	display: inline-block;
	width: 450px;
	height: 60px;
	margin-left: 15px;
	vertical-align: middle;
}
.wx-app-name {
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: 700;
	color: #58585C;
}
.wx-app-tip {
	width: 100%;
}
.wx-app-list {
	position: relative;
	margin-top: 20px;
}
.wx-auth-menu-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.wx-auth-menu-unit {
	position: relative;
	width: 62px;
	float: left;
	margin-left: 57px;
}
.wx-auth-menu-unit:nth-child(6n+1) {
	margin-left: 0;
}
.wx-unit-box {
	width: 100%;
	height: 95px;
	text-align: center;
}
.wx-unit-icon {
	width: 62px;
	height: 62px;
	margin-bottom: 5px;
}
.wx-auth-menu-unit .wx-unit-icon {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);

	filter: grayscale(100%);
	filter: gray;
}
.wx-auth-menu-unit.active .wx-unit-icon {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);

	filter: grayscale(0%);
	filter: none;
}