
/* page-list */
.page-list {
  background-color: #f9fbff;
  border-radius: 4px;
  border: 1px solid #eaeced;
  -webkit-box-shadow: 0 0 4px #edeeef;
  box-shadow: 0 0 4px #edeeef;
}
.page-list .page-list-header {
  padding: 10px 20px;
  min-height: 40px;
  /**/
  border-bottom: 2px solid #3497db;
  background-color: #fff;
}
.page-list .page-list-footer {
  zoom: 1;
  padding: 10px 0;
  border-top: 1px solid #ececec;
  background-color: #fff;
  -webkit-box-shadow: inset 0 1px 2px #f8f8f8;
  box-shadow: inset 0 1px 2px #f8f8f8;
}
.page-list .page-list-footer:before,
.page-list .page-list-footer:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.page-list .page-list-footer:after {
  clear: both;
}
.page-list .page-list-footer .pager {
  float: left;
}
.page-list .page-list-footer .pager > .btn-small {
  padding-left: 15px;
  padding-right: 15px;
}
.page-list .page-list-sidebar {
  float: left;
  width: 220px;
  padding: 10px;
}
.page-list .page-list-sidebar .search {
  margin-bottom: 10px;
}
.page-list .page-list-container {
  -webkit-box-shadow: -2px 0 4px #f8f8f8;
  box-shadow: -2px 0 4px #f8f8f8;
  border-left: 1px solid #eaeced;
  margin-left: 240px;
}
.page-list .table {
  margin-bottom: 0;
}
.page-list .table thead th {
  border-bottom: 0 none;
  height: 20px;
}
.page-list .table .checkbox,
.page-list .table .radio {
  margin: 0;
}