<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Error Info</title>
	<link rel="stylesheet" type="text/css" rev="stylesheet" href="../../static/css/base.css" />
	<link rel="stylesheet" type="text/css" rev="stylesheet" href="../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" rev="stylesheet" href="../../static/css/error.css" />
</head>
<body class="error-body">
	<div class="main-content">
		<form action="" method="post">
			<div class="error-tip-pic clearfix mb">
				<i class="o-amazed-pic pull-left"></i>
				<i class="o-error-tip pull-right"></i>
			</div>
			<div class="problem-content mb">
				<p class="fsst mb">这个问题是如何出现的？</p>
				<textarea class="problem-text"></textarea>
			</div>
			<div class="error-report mb">
				<a id="show_error_more" class="show-error-more">
					<span>查看错误报告</span>
					<i class="caret"></i>
				</a>
				<div class="report-content" id="report_content">
					<ul>
						<li>地址出错</li>
						<li>图片加载出错</li>
						<li>出现未知的加载出错</li>
						<li>地址获取时跳转出错</li>
						<li>邮箱地址出错</li>
						<li>头部图片加载出错</li>
						<li>地址出现未知的加载出错</li>
						<li>地址跳转出错</li>
					</ul>
				</div>
			</div>
			<div class="clearfix">
				<a href="" class="btn btn-large pull-left">返回</a>
				<button type="submit" class="btn btn-large btn-primary pull-right">发送错误报告</button>
			</div>
		</form>
	</div>
	<script src="../../static/js/src/core.js"></script>
	<script src="../../static/js/src/base.js"></script>
	<script src="../../static/js/src/common.js"></script>
	<script>
		//错误报告内容的展开和收起
		$("#show_error_more").toggle(function(){
			var $this = $(this);
			$this.addClass("active");
			$("#report_content").slideDown();
		},function(){
			var $this = $(this);
			$this.removeClass("active");
			$("#report_content").slideUp();
		});
	</script>
</body>
</html>